@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url(./SourceSansPro-Bold.eot);
  src: url(./SourceSansPro-Bold.eot?#iefix) format('embedded-opentype'),
       url(./SourceSansPro-Bold.otf) format('otf'),
       url(./SourceSansPro-Bold.svg#SourceSansPro-Bold) format('svg'),
       url(./SourceSansPro-Bold.ttf) format('truetype'),
       url(./SourceSansPro-Bold.woff) format('woff'),
       url(./SourceSansPro-Bold.woff2) format('woff2');
}
